* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mt-1 {
    margin-top: 10px;
}
.container {
    width: 50%;
    height: 80%;
    background-color: #b7c7c4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img_slide {
    width: 70%;
    background-color: #6d6f71;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.common_att {
    width: 70%;
    background-color: #28a289;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navigation {
    height: 7%;
}
.sub_header {
    height: 10%;
}
.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
  }
.content {
    width: 70%;
}
.gap-1 {
    gap: 10px;
  }
.box {
    width: 100%;
    background-color: #28a289;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img {
    background-color: #6d6f71;
}
.text {
    height: 90px;
    text-align: center;
}