* {
    padding: 0;
    margin: 0;
}

:root {
    --color-0: #5996DA;
    --color-1: #B2D6FF;
    --color-2: #EAEDF0;
    --color-3: #D6E8FE;
    --color-4: #F5CF8E;
    --color-5: #F09A9D;
    --color-6: #C8C6FA;
}

.h-100px {
    height: 100px;
}

.bg-pup {
    background-color: blueviolet;
}