/* .container {
  display: flex;
} */

.menu {
  width: 200px;
  /* background-color: #f5f5f5; */
  padding: 20px;
}

.menu h1 {
  margin-top: 0;
}

.menu button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  /* background-color: #4caf50; */
  /* color: #fff; */
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.menu button:hover {
  background-color: #e92ff0;
}

.input-section {
  flex: 1;
  padding: 20px;
}

.input-section h2 {
  margin-top: 0;
}

.input-section form {
  margin-bottom: 20px;
}

.input-section input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

/* .input-section button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
} */

/* .input-section button:hover {
  background-color: #45a049;
} */

.result-section {
  flex: 1;
  padding: 20px;
  background-color: #f5f5f5;
}

.result-section h2 {
  margin-top: 0;
}

#result {
  margin-top: 20px;
  background-color: #fff;
  padding: 10px;
}


.left{
    height: 500px;
}

.right{
    height: 500px;
}

.col-7.mt-5 {
    position: relative;
}

.col-12.result {
    position: absolute;
    top: 20%;
    left: 8%;
    width: 80%;
}

.origin{
    position: absolute;
    top: 8%;
    left: 12%;
    width: 80%;
    font-weight: bold;
    font-size: 2.5vmin;
}