@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
* {
    font-family: "Kaushan Script", cursive;
}

i {
    color: black;
}

.searchArea {
    background-color: #EF7998;
}
.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
