:root {
    --color-0: #FB6447;
    --color-1: #8A2BE2;
    --color-2: #34F5F5;
    --color-3: #7FFF00;
    --color-4: #A52A2A;
    --color-5: rgba(128, 128, 128, 0.324);
}

.h-50px {
    height: 50px;
}

.h-200px {
    height: 200px;
}

.my-bg-red {
    background-color: var(--color-0);
}

.my-bg-violet {
    background-color: var(--color-1);
}

.my-bg-blue {
    background-color: var(--color-2);
}

.my-bg-green {
    background-color: var(--color-3);
}

.my-bg-chery {
    background-color: var(--color-4);
}

.my-bg {
    background-color: var(--color-5);
}