body {
  background-color: hsl(150deg 50% 40%);
}

.a {
  font-size: 5vmin;
  color: hsl(150, 3%, 29%);
  margin-bottom: -25px;
}

.c {
  background-color: red;
  height: 160px;
  width: 120px;
  margin: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.num {
  width: 80%;
  height: 60%;
  background-color: aqua;
  color: white;
  font-size: 8vmin;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  border-radius: 5px;
}

.text {
  width: 80%;
  height: 30%;
  color: white;
  font-size: 4vmin;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
