.container-fluid {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    /* height: 500px; */
}

#tbXe {
    max-height: 1000px;
}

#arePhithutaixe p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}