* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
}
.container {
    margin: auto;
    width: 90%;
    height: 50%;
    background-color: #eba102;
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    .about {
    
        width: 22%;
    }
    .better {
        width: 22%;
    }
    .form {
        width: 50%;
        .content {
            width: 100%;
            display: flex;
            flex-direction: column;
            input {
                padding: 10px;
                height: 50px;
                width: 100%;
                border: none;
                margin-bottom: 15px;
            }
            input:focus {
                outline: none;
             }
            .input_name_email {
                input {
                    height: 50px;
                    width: 48%;
                }
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
            }
            .message{
                height: 70px;
            }
        }
        button {
            width: 40%;
            height: 50px;
            background-color: black;
            color: white;
            border: none;
            cursor: pointer;
        }
    }
    h3 {
        font-weight: 100;
        padding-bottom: 20px;
    }
    p {
        text-align: justify;
        text-justify: inter-word;
        line-height: 30px;
    }

}
