img{
    width: 200px;
}
.rowData{
    text-align: center;
}
.rowData .col-10 {
    line-height: 200px;
    font-size: 24px;
    margin: auto;
}
.rowData .col-10 input{
    height: 40px;
    margin-top: 80px;
    width: 130px;
}
.rowData .col-10 button{
    background-color: white;
    height: 40px;
    margin-top: 80px;
    margin-left: 10px;
}
#quantity.error{
    border: 1px rgb(185, 1, 1) solid;
}
#quantity-error.error{
    color: rgb(185, 1, 1);
    margin-left: 5px;
}