@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Roboto&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-shadow: none;
}
body {
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: flex;
}
.main {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  background: linear-gradient(
    130deg,
    rgba(103, 114, 121, 0.5),
    rgba(179, 117, 117, 0.5)
  );
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.content1 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 30%;
  background-image: url(./img/desk-593327__340.jpg);
  background-image: cover;
  justify-content: space-evenly;
 
}
.content2 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 30%;
  background-image: url(./img/istockphoto-929848296-612x612.jpg);
  background-image: cover;
  justify-content: space-evenly;
 
}
.content3 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 30%;
  background-image: url(./img/stock-photo-flat-lay-coffee-cup-laptop.jpeg);
  background-image: cover;
  justify-content: space-evenly;
 
}
.content1:hover .text_content {
  visibility: visible;
  background: linear-gradient(135deg, rgb(131 58 180 / 70%) 0%, rgb(253 29 29 / 59%) 50%, rgb(252 176 69 / 45%) 100%);
  transition: all 1s linear;
  transform: scale(1.05);
}
.content2:hover .text_content {
  visibility: visible;
  background: linear-gradient(135deg, rgb(131 58 180 / 70%) 0%, rgb(253 29 29 / 59%) 50%, rgb(252 176 69 / 45%) 100%);
  transition: all 1s linear;
  transform: scale(1.05);
}
.content3:hover .text_content {
  visibility: visible;
  background: linear-gradient(135deg, rgb(131 58 180 / 70%) 0%, rgb(253 29 29 / 59%) 50%, rgb(252 176 69 / 45%) 100%);
  transition: all 1s linear;
  transform: scale(1.05);
}
.text_content {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100%;
  visibility: hidden;
}

h3 {
  color: #5dc7bc;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
h5 {
  color: #5dc7bc;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

p {
  color: #009688;
  width: 70%;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
