i{
    font-size: 40px;
    padding-right: 10px;
}
label.error {
    color: red;
}
label#checkbox-error {
    position: absolute;
    top: 23px;
    left: 0;
}
td{
    line-height: 38px;
    text-align: center;
}
#table{
    width: 1320px;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}