:root {
    --color-a: #B7C7C4;
    --color-b: #29A28A;
}

body {
    margin: 2em 0;
    width: 100vw;
    background-color: var(--color-a);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.commont-bgr {
    background-color: var(--color-b);
}
#contained-content{
    height: 35vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}