.example {
    height: 200px;
    margin: 20px;
    text-align: center;
}

.example div[class^="col"] {
    border: 2px solid white;
    background-color: #0087e8;
    height: 400px;
    border-bottom: 10px solid white;
    border-right: 10px solid white;
}

.col-4 {
    margin-right: 10px;
}

.example .col-4 div[class^="col"] {
    height: 200px;
}