.left {
    background-color: #dc4d4d;
    grid-area: r;
}

.center {
    background-color: #FD9A5C;
    grid-area: c;
}

.right {
    background-color: #e8a2af;
    grid-area: l;
}

.container {
    border: 2px solid #656363;
    padding: 5px;
    margin: 5px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    /*Thay doi cau truc*/
    grid-template-areas:
        "r c c"
        "r l l"
}