* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    opacity: 60%;
    .content {
        column-gap: 20px;
        display: flex;
        .card-body {
            text-align: center;
            .ion {
                width: 100%;
                display: flex;
                justify-content: space-evenly;
            }
        }
    }
}