#chiTiet input {
    width: 95%;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(229, 231, 234);
    border: 0;
    margin: 8px;
}

#tableResult th, td {
    padding: 10px 0;
    text-align: center;

}


#tableResult tfoot td {
    padding: 20px 0;
    font-weight: bold;
    text-align: center;
}